
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/Login.css" rel="stylesheet" />
    <title>Login</title>
</head>
<body>
    <div class="loginbox">
        <img src="~/images/avatar1.png" class="avatar" />
        <h1>Entrar</h1>
        <form>
            <p>Usuário</p>
            <input type="text" name="" placeholder="Entre com o usuário" />
            <p>Senha</p>
            <input type="password" name="" placeholder="Entre com a senha" />
            <input type="submit" name="" value="Entrar" />
            <a href="#">Esqueceu a senha?</a>
            <br />
            <a href="#">Ainda não tem cadastro?</a>
        </form>
    </div>
</body>
</html>
