
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/Login1.css" rel="stylesheet" />
    <title>Login</title>
</head>
<body>
    <div class="container">
        <img src="~/images/login.jpg" />
        <form>
            <div class="form_input">
                <input type="text" name="username" placeholder="Entre com seu usuário" />
            </div>
            <div class="form_input">
                <input type="password" name="password" placeholder="Entre com sua senha" />
            </div>
            <input type="submit" name="submit" value="Entrar" class="btn-login" />
        </form>
    </div>
</body>
</html>
